@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap');

html,
body {
  font-family: 'Poppins', 'sans-serif';
  color: #FFF;
}

body{
    display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 32px;
   width: 100%;
   margin: 0;
   overflow-x: hidden;
   background-image: url('https://images.unsplash.com/photo-1484156818044-c040038b0719?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed; 
   }
   

.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #FFF;
}

.navbar{
    gap: 16px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 16px 32px;
    text-decoration: none;

}
.navbar a {
    color: #FFF;
    text-decoration: none;
}

.navbar .listes{
    display: flex;
    margin: 0 8px;
    gap: 32px;
    justify-content: space-between;
   
}

.buttons-container {
    display: flex;
    gap: 16px;
   
  }
  
  .button {
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    border-radius: 8px;
    padding: 8px 16px;
    transition: all .3s ease;
    text-decoration: none;
  }
  
  .button-primary{
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    border-radius: 8px;
    padding: 8px 16px;
    transition: all .3s ease;
    text-decoration: none;
  }
  
  .primary {
    background-color: #8005F2;
    color: #FFF;
    border: 2px solid #8005F2;
  }
  
  .button-primary{
    background-color: #8005F2;
    color: #FFF;
    border: 2px solid #8005F2;
  }

  .button-primary:hover {
    background-color: #B569FC;
    border: 2px solid #B569FC;
  }
  .primary:hover {
    background-color: #B569FC;
    border: 2px solid #B569FC;
  }
  
  .secondary {
    background-color: transparent;
    color: #8005F2;
    border: 2px solid #8005F2;
  }
  
  .secondary:hover {
    border: 2px solid #B569FC;
    color: #B569FC;
  }
  
.hero{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: white;
    
}

  

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
 }
 
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.link{
    color: #000;
    font-weight: 500;
 }
 
 .link:hover{
    color: #8005F2;
 }

 #a-propos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
 }
 .cards{
    display: block;
    width: 100%;
    gap: 16px;
    flex-direction: column;
    
    }
    
    
 
 .card img{
    display: flex;
    width: 200px;
    height: auto;
   
 }
 .text-description h3 ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
 }
 .images{
    display: flex;
    width: auto;
    height: 100px;
    gap: 8px;
    overflow: hidden;
    align-items: stretch;
    justify-content: space-between;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    
 }
 .footer{
    display: flex;
 }